<% if same_user? %>
  <form method="get" action="/questions/<%= @question.id %>/edit">
    <input type="submit" value="Edit This Question">
  </form>
  <form method="post" action="/questions/<%= @question.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Question">
  </form>
<% end %>




<h1><%= @question.title %></h1>
<h4>By: <%= @question.author.username %></h4>
<p><%= @question.description %></p>

<% if logged_in? %>
  <p><a href='/questions/<%= @question.id %>/answers/new'>Reply</a><p>
<% end %>

<% @question.answers.each do |answer| %>
  <p><%= answer.description %><p>
<% end %>
