<% if session[:hp] > 0 %>
      <div class="col-md-8 text-left">
      <%=@hero.name%>: "<%=@hero.message%>"</div>
      <div class="col-md-4"></div>
      <br><br><br>
      <div class="col-md-4"></div>
      <div class="text-right col-md-8"><%=@enemy.name%>: "Sigh, Shut up.."</div>

      <br><br><br>

      <div class="text-left col-md-8">
      <%=@hero.name%>: "You cannot win against a Revenger!"</div><div class="col-md-4"></div>
<% elsif session[:enemyhp] > 0 %>
      <div class="col-md-8 text-left">
      <%=@hero.name%>: "How.. is this possible?"</div>
      <div class="col-md-4"></div>
      <br><br><br>
      <div class="col-md-4"></div>
      <div class="text-right col-md-8"><%=@enemy.name%>: "Kneel before the great <%= @enemy.name %>"</div>

      <br><br><br>

      <div class="text-left col-md-8">
      <%=@hero.name%>: "You may have won this battle, but you will never win the war"</div><div class="col-md-4"></div>
<% else %>
      <div class="col-md-8 text-left">
      <%=@hero.name%>: *groan*</div>
      <div class="col-md-4"></div>
      <br><br><br>
      <div class="col-md-4"></div>
      <div class="text-right col-md-8"><%=@enemy.name%>: "Petty Earthling"</div>

      <br><br><br>

      <div class="text-left col-md-8">
      <%=@hero.name%>: "If I die, I'm taking you with me"</div><div class="col-md-4"></div>
<% end %>