<% if session[:dmg] == 0 %>
  <div class="col-md-6 text-left">
    <%=@hero.special1%> missed!
    <div class="americapt"><%=session[:dmg]%></div>damage
    <div>to <%=@enemy.name%></div>
  </div>
  <div class="text-right col-md-6"><%=@enemy.name%> did
    <div class="americapt"><%=session[:edmg]%></div>damage
    <div>to <%=@hero.name%></div>
  </div>
  <br><br><br>
  <div class="col-md-6"></div>
  <div class="col-md-4"></div>
  <br><br><br>
  <div class="text-left col-md-8">
  <%=@hero.name%>: "Is that all you've got?"</div>
  <div class="col-md-4"></div>
<% else %>
  <div class="col-md-6 text-left">
    <%=@hero.special1%> did
    <div class="americapt"><%=session[:dmg]%></div>damage
    <div>to <%=@enemy.name%></div>
  </div>
  <div class="text-right col-md-6"><%=@enemy.name%> did
    <div class="americapt"><%=session[:edmg]%></div>damage
    <div>to <%=@hero.name%></div>
  </div>
  <br><br><br>
  <div class="col-md-6"></div>
  <div class="col-md-4"></div>
  <br><br><br>
  <div class="text-left col-md-8">
  <%=@hero.name%>: "Take that fiend!"</div>
  <div class="col-md-4"></div>
<% end %>