<% if same_user? %>
<a href='/entries/<%= @entry.id %>/edit'>Edit This Post</a>
<form method="post" action="/entries/<%= @entry.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Post">
</form>
<% end %>




<h1><%= @entry.title %></h1>
<h4>By: <%= @entry.user.full_name %></h4>
<p><%= @entry.body %></p>


